.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
/*.to-scroll{
    width: 100%;
    overflow-y: auto;
}*/
th {
    min-width: 300px;
}
* {
    border-radius: 0 !important;
}
.panel-heading{
    background: #388a5a !important;
    border-color: #388a5a !important;
}
.panel{
    border-color: #388a5a !important;
    margin-bottom: 0 !important;
}

.hide-overflow {
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container-fluid {
    position: absolute;
    width: 100%;
    overflow: auto;
    bottom: 0px;
    top: 50px;
}
.row {
    height: 100%;
}
.panel-primary {
    height: 100%;
}
.panel-body {
    position: absolute;
    width: 100%;
    overflow: auto;
    bottom: 0;
    top: 36px;
    left: 0;
}
.table-name {
    position: absolute;
    top: 0px;
    left: 40%;
}

#datepicker {
    display: none;
}

#orderpicker {
    display: none;
}

#childpicker {
    display: none;
}

.btn-opt {
    display: inline-block;
    padding: 6px 12px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff !important;
    background: #428bca !important;
    border-color: #357ebd !important;
    box-shadow:none !important;
}
.btn-danger {
    color: #fff !important;
    background: #d9534f !important;
    border-color: #d9534f !important;
    box-shadow:none !important;
    margin-right: 10px;
}

.btn-disp {
    display: inline-block;
}

.table-name {
    font-family: 'NautilusPompiliusRegular';
    color: rgba(0,0,0,.5);
}